<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="constructor"  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<!-- cfg configure the Dependent class -->
	<bean id="tp" class="com.lp.beans.TourPlace" autowire-candidate="false" >
		<property name="places">
			<array>
				<value>Simla</value>
				<value>Assam</value>
				<value>wagha</value>
				<value>Ambritsar</value>
			</array>
		</property>
	</bean>
	
	<bean id="tp2" class="com.lp.beans.TourPlace">
		<property name="places">
			<array>
				<value>Mumbai</value>
				<value>Kanyakumary</value>
				<value>Goa</value>
				<value>Ooty</value>
			</array>
		</property>
	</bean>
    
    <bean id="cal" class="java.util.Calendar"  factory-method="getInstance" />
    
    <bean id="agent"  class="com.lp.beans.TravelAgents"   />

</beans>
